/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

/* Common Styles */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* Header */
header {
    background-color: #353535;    
    padding: 20px;
}

header h2 {
    margin: 0;
    text-align: center;
    color: #aaa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* Details */
#details {
    padding-top: 25px;
    padding-bottom: 25px;
}

.details {
    padding-top: 20px;
}

.videoPlayer {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.33);
}

.details h4 {
    text-transform: uppercase;
}

.details h4 i {
    padding-right: 7px;
}

td {
    word-break: break-all;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.details li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.33);
}

img {
    width: 100%;
}

.items li h5 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.items th, .items td {
    text-align: center;
}

.details li:last-child {
    border-bottom: 0;
}

span {
    padding-right: 15px;
}

.no-results {
    color: red;
}

/* Related Items */
.relatedItems {
    border-top: 1px solid rgba(0,0,0,.33);
    padding-top: 20px;
}

/* Identifier Form */
.identifierForm {
    background-color: #aaa;
    padding: 20px 0;
}

.form-group {
    margin-bottom: 0;
}

input[type="text"] {
    border: 0;
}

.form-control:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
    border-color: transparent;
}

input[type="submit"] {
    background-color: #353535;
    color: #fff;
    border: 1px solid #353535;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #353535;
}

/* Footer */
footer {
    background-color: #eee;
    padding: 10px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.33);
}

footer p {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}